<section id="menu" class="menu">
 
  <div class="container">
    <h3 class="title">Menu</h3>         
      <div class="products-container">
        <% @menus.each do |menu| %>
          <div class="product" data-name="p-<%=menu.id %>">
            <% if menu.image.attached? %>
              <%= image_tag(menu.image) %>
            <% else %>
              <%= image_tag "coffee.svg"%>
            <% end %>
            
            <h3><%= menu.title%> </h3>
            
            <div class="price"><%= menu.price%> </div>

          </div>
        <% end %>
      
      </div>
  </div>

  <div class="products-preview">
    <% @menus.each do |menu| %>
      <div class="preview" data-target="p-<%=menu.id %>">
        <i class="fas fa-times"></i>
        <% if menu.image.attached? %>
          <%= image_tag(menu.image) %>
        <% else %>
          <%= image_tag "coffee.svg"%>
        <% end %>

        <h3><%=  menu.title %></h3>

        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
          <span>( 250 )</span>
        </div>

        <p><%= menu.description %></p>
       
        <div class="price"><%= menu.price %> </div>
       
        <div class="buttons">
          <% if logged_in? %>
            <%= link_to "Buy Now",  new_menu_order_path(menu), class: "buy"  %>
          <% else %>
            <%= link_to  "Buy Now", login_path, class: "Buy Now"  %>
          <% end %>
          <a href="#" class="cart">add to cart</a>
        </div>

      </div>
    <% end %>
  </div>

</section>
<%= javascript_include_tag 'refresh_page'%>
<%= javascript_include_tag 'preview'%>

