<section id="menu" class="menu">
  <h1 class="section-header">Menu</h1>

  <div class="menu-content">
    <% @menus.each do |menu| %>
      <div class="menu-card h100">
        <div class="coffee_img h50">
          <% if menu.image.attached? %>
            <%= image_tag(menu.image) %>
          <% else %>
            <%= image_tag "coffee.svg"%>
          <% end %>            
        </div>
      
        <div class="h30">
          <h1 class="title"><%= menu.title %></h1>
          <h3 class="description"><%= menu.description %></h3>
        </div>
        <div class="h20">
          <h2 class="price"><%= sprintf('%.2f', menu.price) %><span> PHP</span> </h2>
          <div class="card-btn">
            <% if logged_in? %>
              <%= link_to  new_menu_order_path(menu) do %>
                <button class="button buy_now">Buy</button>
              <% end %>
            <% else %>
              <%= link_to  login_path do %>
                <button class="button buy_now">Buy</button>
              <% end %>
            <% end %>
      </div>      
    </div>
  </div>
        
      
    <% end %>
  </div>
</section>