<div class="section">  
  <button class="tablink" onclick="openPage('pending_order', this, '#777')">Pending</button>
  <button class="tablink" onclick="openPage('preparing_order', this, '#777')" id="defaultOpen">Preparing</button>
  <button class="tablink" onclick="openPage('shipping_order', this, '#777')">Shipping</button>
  <button class="tablink" onclick="openPage('complete_order', this, '#777')">Completed</button>

  <div id="pending_order" class="tabcontent">
    <div class="cart">
      <h1 class="center">Order in Cart</h1>
      <table class="table order_table">
        <tr>
          <th class="order-20">Customer</th>
          <th class="order-20">Coffee</th>
          <th class="order-10">Price</th>
          <th class="order-10">quantity</th>
          <th class="order-20">total</th>
          <th class="order-20 center">action</th>
        </tr>
        <% @incart.each do |incart| %>
        <tr>
          <td>
            <%= link_to admin_user_path(incart.user_id) do %>
              <%= user(incart.user_id) %> 
            <% end %>
          </td>
          <td><%= title(incart.menu_id) %> </td>
          <td><%= price(incart.menu_id) %> </td>
          <td><%= incart.quantity %> </td>
          <td><%= total(incart.menu_id, incart.quantity)%> </td>
          <td class="order-20 center">
            <%= link_to preparing_menu_order_path(incart.menu_id, incart.id) do %>
              <button class=" dashboar-btn">Move to preparing</button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div id="preparing_order" class="tabcontent">
    <div class="preparing">
      <h1 class="center">Order Preparing</h1>
      <table class="table order_table">
        <tr>
          <th>Customer</th>
          <th>Coffee</th>
          <th>Price</th>
          <th>quantity</th>
          <th>total</th>
          <th class="order-20 center">action</th>
        </tr>
        <% @preparing.each do |preparing| %>
        <tr>
          <td>
          <%= link_to admin_user_path(preparing.user_id) do %>
              <%= user(preparing.user_id) %> 
            <% end %>
            </td>
          <td><%= title(preparing.menu_id) %> </td>
          <td><%= price(preparing.menu_id) %> </td>
          <td><%= preparing.quantity %> </td>
          <td><%= total(preparing.menu_id, preparing.quantity)%> </td>
          <td>
            <%= link_to shipping_menu_order_path(preparing.menu_id, preparing.id) do %>
              <button class=" dashboar-btn">Move to shippment<button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div id="shipping_order" class="tabcontent">
    <div class="shipping">
      <h1 class="center">Shipping</h1>
      <table class="table order_table">
        <tr>
          <th>Customer</th>
          <th>Coffee</th>
          <th>Price</th>
          <th>quantity</th>
          <th>total</th>
          <th  class="order-20 center">action</th>
        </tr>
        <% @shipping.each do |shipping| %>
        <tr>
          <td>
            <%= link_to admin_user_path(shipping.user_id) do %>
              <%= user(shipping.user_id) %> 
            <% end %>
          </td>
          <td><%= title(shipping.menu_id) %> </td>
          <td><%= price(shipping.menu_id) %> </td>
          <td><%= shipping.quantity %> </td>
          <td><%= total(shipping.menu_id, shipping.quantity)%> </td>
          <td>
            <%= link_to complete_menu_order_path(shipping.menu_id, shipping.id) do %>
            <button class=" dashboar-btn">Move to complete<button>
            <% end %>  
          </td>
        </tr>
        <% end %>
      </table>
    </div>

  </div>

  <div id="complete_order" class="tabcontent">
    <div class="complete">
      <h1 class="center">complete</h1>
      <table class="order_table">
        <tr>
          <th>Customer</th>
          <th>Coffee</th>
          <th>Price</th>
          <th>quantity</th>
          <th>total</th>
        </tr>
        <% @complete.each do |complete| %>
        <tr>
          <td>
            <%= link_to admin_user_path(complete.user_id) do %>
              <%= user(complete.user_id) %> 
            <% end %>
          </td>
          <td><%= title(complete.menu_id) %> </td>
          <td><%= price(complete.menu_id) %> </td>
          <td><%= complete.quantity %> </td>
          <td><%= total(complete.menu_id, complete.quantity)%> </td>
        </tr>
        <% end %>
      </table>
    
    </div>

  </div>
</div>

<%= javascript_include_tag 'dashboard'%>

