
<div class="section">
  <div class="my_ purchase">
    <h1 class="title">My Order</h1>

    <div class="order">
      <% @order.each do |order| %>
        <div class="card">          
          <h3 class="card-title"><%= title(order.menu_id) %></h3>
          <h3 class="card-price">Price: <%= price(order.menu_id) %></h3>
          <h3 class="card-quantity">Quantity: <%= order.quantity %></h3>
          <h1 class="card-total">Total: <%= total(order.menu_id, order.quantity)%> </h1>
          <h3 class="card-title">Order#: <%= order.id %></h3>
          <% if order.status == "in_cart" %>
            <%= link_to cancel_menu_order_path(order.menu_id, order.id) do %>
              <button class="button cancel">Cancel</button>
            <% end %>  
          <% elsif order.status == "preparing" %>
            <button class="button">Your order is being prepare, Please wait</button>
          <% elsif order.status == "shipping" %>
            <button class="button">Your order is being ship, Please prepare exact amount</button>
          <% elsif order.status == "complete" %>
            <button class="button">Order complete. Thank you for your purchase</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
   
  </div>    

</div>
  
    

