<h1>New order</h1>

<%= form_with(model: [@menu, @order]) do |form| %>
  <h1><%= @menu.title %> </h1>
  <h1><%= @menu.price %> </h1>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <% if current_user.user? %>
   <div>
    <%= form.text_field :user_id, value: current_user.id, style: "display: none" %>
  </div>   
  <% end %>

  <div>
    <%= form.text_field :menu_id, style: "display: none" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>