<div class="new_order">
<h1 class="title">New order</h1>

<div class="form">
<%= form_with(model: [@menu, @order]) do |form| %>
  <h1 class="label">Product: <%= @menu.title %> </h1>
  <h1 class="label" >Price: <%= @menu.price %> </h1>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <% if current_user.user? %>
   <div>
    <%= form.text_field :user_id, value: current_user.id, style: "display: none" %>
  </div>   
  <% end %>

  <div>
    <%= form.text_field :menu_id, style: "display: none" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>

</div>