<div class=" section profile">
  <div class="left">
    <div class="image">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar) %>
      <% else %>
        <%= image_tag "No_profile.jpg"%>
      <% end %> 
    </div>
  </div>
  <div class="right">
      <h1 class="center title">Profile</h1>
      <h2 class="profile-label" >Name: <span> <%= @user.name %> </span></h2>
      <hr size="3" noshade width="70%">
      <h2 class="profile-label" >Email: <span> <%= @user.email %></span></h2>
      <hr size="3" noshade width="70%">
      <h2 class="profile-label" >Contact: <span> <%= @user.contact %></span></h2>
      <hr size="3" noshade width="70%">
  </div>
</div>