<section class="header">
  <h1 class="logo"><%= link_to "Coffee Time", root_path%> </h1>
  <nav class="navbar">
    <% if logged_in? && current_user.user? %>
      <%= link_to 'Home', "#home" %>
      <%= link_to 'Menu', "#menu" %>
      <%= link_to 'Cart', "#cart" %>
    <% elsif logged_in? && current_user.admin? %>
      <%# link_to "Default", root_path %>
      <%# link_to "Menu", menus_path %>
    <% else %>
      <%= link_to 'Home', "#home" %>
      <%= link_to 'Menu', "#menu" %>
      <%= link_to 'Cart', "#cart" %>
    <% end %>
  </nav>
  <div class="user-navbar dropdown">
    <% if logged_in? %>
      <span class="user" ><%= current_user.name %></span>
      <div class="navbar-content dropdown-content">
          <% if current_user.admin? %>
            <%= link_to "Dashboard Section", dashboard_path %>
            <%= link_to "Menu Section", admin_menus_path %>
            <%= link_to "Users", admin_users_path %>
          <% end %>
          <%= link_to "Profile", profile_path(current_user.id) %>
          <%= link_to "Settings", '#' %>
          <%= link_to "Log out", logout_path, method: :delete %>
     
      </div>     
    <% else %>
      <%= link_to login_path do %>
        <button class="login">Login</button>
      <% end %>
    <% end %>
  </div>
</section>